@charset "UTF-8";

* {
	font-family: "Roboto", sans-serif;
}

body {
		background-image  : url('https://media.istockphoto.com/id/1355040546/photo/schoolchildren-at-classroom-with-raised-hands-answering-teachers-question.jpg?s=612x612&w=0&k=20&c=psb4yKo8NqR15gdiwfPMLPem9_QNvb4GmnYatYHcCGM=');
	background-repeat: no-repeat;
	  background-size: cover;
backdrop-filter: blur(10px);	
	margin: 50px;
}

h2 {
	text-align: center;
}

form {
	
	margin-left: 35%;
	max-width: 400px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 12px #aaa;
}

label, input {
	display: block;
	width: 90%;
	margin-bottom: 15px;
}

input[type="number"] {
	padding: 8px;
	border: 2px solid gray;

}

.button {
	position: relative;
	text-decoration: none;
	color: #fff;
	background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
	padding: 14px 25px;
	border-radius: 10px;
	font-size: 1.25em;
	cursor: pointer;
}

.button span {
	position: relative;
	z-index: 1;
}

.button::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: #272727;
	border-radius: 9px;
	transition: 0.5s;
}

.button:hover::before {
	opacity: 0.7;
}

.button::after {
	content: "";
	position: absolute;
	inset: 0px;
	background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
	border-radius: 9px;
	transition: 0.5s;
	opacity: 0;
	filter: blur(20px);
}

.button:hover:after {
	opacity: 1;
}